section {
    min-height: 100vh;
}

.btn-primary {
    color: #fff;
    background-color: rgba(113, 168, 158, 1) !important;
    border-color: rgb(0, 0, 0) !important;
}

h2 {
    font-family: 'San Francisco Pro' !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 48px !important;
}

a h2 {
    font-family: 'San Francisco Pro' !important;
    font-weight: 700 !important;
    font-style: normal !important;
    font-size: 42px !important;
}

button {
    font-family: 'San Francisco Pro' !important;
    font-weight: 700 !important;
    font-style: normal !important;
    font-size: 18px !important;
}

p{
    font-family: 'San Francisco Pro' !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 24px !important;
}

.disabled {
    color: rgba(113, 168, 158, 1) !important;
}

@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Bold'), local('San-Francisco-Pro-Display-Bold'),
        url('fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('fonts/SFProDisplay-Bold.woff') format('woff'),
        url('fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Regular'), local('San-Francisco-Pro-Display-Regular'),
        url('fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('fonts/SFProDisplay-Regular.woff') format('woff'),
        url('fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Medium'), local('San-Francisco-Pro-Display-Medium'),
        url('fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('fonts/SFProDisplay-Medium.woff') format('woff'),
        url('fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

/* Navbar */

.nav-item {
    font-family: "San Francisco Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #303031;
}

.high-light {
    color: #71A89E !important;
}

.jumbotron-btn {
    background: #71A89E;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px 24px;

    font-family: "San Francisco Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    color: white;

    -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
}

.bg-white {
    background-color: white;
}

/* Helpers */
.pt-40 {
    padding-top: 40px !important;
}

@media (max-width: 992px) { 
    .pt-10vh {
        padding-top: 10vh !important;
    }
}

@media (max-width: 768px) { 
    .size-mobile {
        font-size: 27px !important;
    }
    .size-second-mobile {
        font-size: 16px !important;
    }
    .navbar-toggler-second {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: box-shadow .15s ease-in-out;
}
